<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NavWSBinding">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="allowDelegation">
            <clientCredentials>
              <windows allowedImpersonationLevel="Delegation"
                       allowNtlm="true"/>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <client>
        <endpoint address="http://dkp-appl-01.gebrdekoning.local:7047/NST100TestWS/WS/Contoso%20GWW%20bedrijf/Page/ProfielOverzicht"
          binding="basicHttpBinding" bindingConfiguration="NavWSBinding"
          contract="ProfielOverzichtRef.ProfielOverzicht_Port" name="ProfielOverzicht_Port" />
        <endpoint address="http://dkp-appl-01.gebrdekoning.local:7047/NST100TestWS/WS/Contoso%20GWW%20bedrijf/Page/PersGebrInstelling"
          binding="basicHttpBinding" bindingConfiguration="NavWSBinding"
          contract="PersGebrInstellingRef.PersGebrInstelling_Port" name="PersGebrInstelling_Port" />
        <endpoint address="http://dkp-appl-01.gebrdekoning.local:7047/NST100TestWS/WS/SystemService"
          binding="basicHttpBinding" bindingConfiguration="NavWSBinding"
          contract="SystemServiceRef.SystemService_Port" name="SystemService_Port" />
      </client>
    </system.serviceModel>
</configuration>