<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SystemService_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dkp-appl-01.gebrdekoning.local:7047/NST100TestWS/WS/SystemService"
                binding="basicHttpBinding" bindingConfiguration="SystemService_Binding"
                contract="SystemServiceTestRef.SystemService_Port" name="SystemService_Port" />
        </client>
    </system.serviceModel>
</configuration>